depen*.xml
.DS_Store
*.iml
bin/*
pkg/*
src/*.com
src/*.org
src/*.in
target
*.log

test-output
test-results
target
*.rpm
*/*.rpm
*/*.log

test-results
.idea

dependency-reduced-pom.xml
io.dropwizard.logging.AppenderFactory
